@import "@/style/variables.scss";

// jumbotron
.jumbotron {
  display: flex;
  position: relative;
  height: 950px;
  margin-bottom: 80px;
  .bg-left-box {
    width: 40%;
    min-width: 600px;
    background-color: $first-color;
    color: $second-color;
    .jumbo-left-box {
      margin-top: 40px;
      display: flex;
      .line {
        position: relative;
        top: 10px;
        width: 40px;
        margin-right: 40px;
        border-top: 1px solid $second-color;
      }
      .jumbo-text {
        width: 360px;
        h3 {
          font-family: $subtitle-font;
        }
        p {
          margin-bottom: 40px;
        }
      }
    }
  }

  .jumbo-img {
    width: 60%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 70%),
      url(/img/slider52x.jpg) no-repeat 50% 50%;
    background-size: cover;
  }

  // header
  header {
    position: absolute;
    width: 100%;
    padding: 40px 80px;
    // logo
    .logo {
      min-width: 307px;
      img {
        width: 100%;
      }
    }

    // menu
    .nav-list {
      font-family: $subtitle-font;
      display: flex;
      align-items: center;
      li {
        margin: 0 15px;
        list-style: none;
        cursor: pointer;
        a {
          color: $third-color;
          text-decoration: none;
          display: flex;
          align-items: center;
          &:hover {
            color: $second-color;
          }
          // tag NEW a fianco alla voce menu 'Takeout'
          .new-item {
            display: inline;
            font-size: 10px;
            font-weight: 600;
            text-align: center;
            margin-left: 8px;
            padding: 3px 5px;
            border: 1px solid rgba(255, 255, 255, 0.6);
            color: $second-color;
          }
        }
      }
    }
  }
}

.right-box {
  cursor: pointer;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: $second-color;
  z-index: 1010;
  border-radius: 5px;
  box-shadow: 0 0 25px 5px rgb(0 0 0 / 20%);
  font-size: 10px;
  font-family: $subtitle-font;
  font-weight: 600;
}

.right-box.demos{
  top: 150px;
  right: 10px;
  .fa-folder-open {
    font-size: 20px;
    color: #33475b;
  }
}

.right-box.on-sale {
  top: 210px;
  right: 10px;
  p {
    font-family: $subtitle-font;
    font-size: 20px;
    color: #52b838;
    .small-size {
      font-size: 10px;
      color: #52b838;
    }
  }
}

.arrow-to-top {
  position: fixed;
  top: 1100px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgba(136, 136, 136, 0.7);
  z-index: 1010;
  border-radius: 5px;
  .fa-caret-up {
    color: $second-color;
    font-size: 30px;
  }
}

// burger menu

@media screen and (max-width: 1320px) {
  .nav-list li {
    display: none;
  }

  .menu-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    position: relative;
    // linea centrale
    .menu-btn-burger {
      width: 30px;
      height: 3px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px #000;
      transition: all 0.5s ease-in-out;
    }
    // linea sopra e sotto
    .menu-btn-burger::before,
    .menu-btn-burger::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 3px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px #000;
      transition: all 0.5s ease-in-out;
    }
    .menu-btn-burger::before {
      transform: translateY(-10px);
    }
    .menu-btn-burger::after {
      transform: translateY(10px);
    }
  }

  // Animation
  .menu-btn.open .menu-btn-burger {
    width: 0;
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn-burger::before {
    transform: rotate(45deg);
  }
  .menu-btn.open .menu-btn-burger::after {
    transform: rotate(-45deg);
  }

  .burger-list {
    font-family: $subtitle-font;
    z-index: 1100;
    width: 100%;
    background: #1f262e;
    position: absolute;
    top: 100px;
    left: 0;
    li {
      list-style: none;
      cursor: pointer;
      a {
        padding: 20px 40px;
        color: $third-color;
        text-decoration: none;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $second-color;
        &:hover {
          color: $second-color;
          background-color: #bda16b;
        }
        // tag NEW a fianco alla voce menu 'Takeout'
        .new-item {
          display: inline;
          font-size: 10px;
          font-weight: 600;
          text-align: center;
          margin-left: 8px;
          padding: 3px 5px;
          border: 1px solid rgba(255, 255, 255, 0.6);
          color: $second-color;
        }
      }
    }
  }
}
