@import "@/style/variables.scss";
//  menu
.menu-container {
  padding: 120px 120px;
  .menu-box {
    color: $first-color;
    width: 33%;
    padding: 80px 0;
    background-color: #e8e8e8;
    cursor: pointer;
    .text-center {
      width: 80%;
      .menu-item {
        margin: 40px 0 10px 0;
      }
      h2 {
        font-size: 45px;
        margin-top: 0;
      }
      h3 {
        font-size: 30px;
        display: inline;
      }
      span {
        font-family: $subtitle-font;
      }
    }

    &:hover.horse-doeuvres {
      color: $second-color;
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.9) 50%,
          rgba(255, 255, 255, 0) 100%
        ),
        url(/img/menu23x.jpg) no-repeat 50% 50%;
      background-size: cover;
      position: relative;
      top: -40px;
      box-shadow: none;
    }

    &:hover.main-course {
      color: $second-color;
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.9) 50%,
          rgba(255, 255, 255, 0) 100%
        ),
        url(/img/misc22x.jpg) no-repeat 50% 50%;
      background-size: cover;
      position: relative;
      top: -40px;
    }

    &:hover.dessert {
      color: $second-color;
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.9) 50%,
          rgba(255, 255, 255, 0) 100%
        ),
        url(/img/menu31x.jpg) no-repeat 50% 50%;
      background-size: cover;
      position: relative;
      top: -40px;
    }
  }

  .main-course {
    position: relative;
    background-color: #d6d6d6;
    box-shadow: 0 0 25px 5px rgb(0 0 0 / 20%);
  }
}

// slider piatti
.menu-slider {
  position: relative;
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 120px;
  .plate-bg {
    background-color: $first-color;
    position: relative;
    width: 600px;
    height: 650px;
    .plate-description {
      padding: 0 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $second-color;
      .arrows-slider {
        font-size: 30px;
        cursor: pointer;
      }
      .plate-text {
        width: 360px;
        margin: 0 40px;
        .plate {
          display: flex;
          align-items: center;
          h2 {
            font-size: 70px;
            margin-top: 0;
            display: inline;
          }
          span {
            font-family: $subtitle-font;
            padding-bottom: 120px;
            font-size: 20px;
          }
        }
        .line {
          margin-bottom: 40px;
          width: 40px;
          border-top: 1px solid $second-color;
        }
        p {
          margin-bottom: 40px;
        }
      }
    }
  }
}
