$first-color: #000;
$second-color: #fff;
$third-color: #bcbcbc;
$title-font: 'Bebas Neue', cursive;
$subtitle-font: 'Work Sans', sans-serif;
$text-font: 'Lora', serif;
$border-white-button: 1px solid #bcbcbc;
$white-button-hover: 1px solid #000;